header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
}
body {
  background-image: linear-gradient(to right, hotpink, royalblue, darkorchid);
}
ul {
  margin: 00px auto;
  padding: 0 20px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
li {
  /*color: #FFF;*/
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 200px;
}

button {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

.headerbtn button{
  background-color: black;
  color:white;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 500px;
  border: 2px solid black;

}

.headerbtn button:hover{
  color: white;
  background-color: black

}

h1 {
  background-color: white;
  width: 600px:
  padding: 50px;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid black
}

.headerbtn form {
  margin: 30px auto;
  text-align: center;
}
.bodybtn form {
  margin: 30px auto;
  text-align: center;

}
.bodybtn button:hover{
  background-color: black;
  color:white

}

.bodybtn button{
  background-color: white;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 600px;
  border: 2px solid black;

}

.left {
    float: left;
    padding: 0 20 40 0px;
}

.right {
    float: right;
    padding: 0 80 40 0px;
}
