header {
  background-color: black;
  position: fixed;
  width: 100%;
  z-index: 100;
}
body {
  background-image: linear-gradient(to right, hotpink, royalblue, darkorchid);
  padding: 0;
  margin: 0;
  border: 0;
}
ul {
  margin: 00px auto;
  padding: 0 20px;
  text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
li {
  /*color: #FFF;*/
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 200px;
}

button {
  color: #466995;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 2px;
  text-align: center;
  text-transform: uppercase;
}

h1 {
  background-color: white;
  width: 600px:
  padding: 50px;
  color: black;
  font-family: 'Oswald', sans-serif;
  font-size: 32px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  border: 3px solid black
}

.bodybtn form {
  margin: 30px auto;
  text-align: center;

}
.bodybtn button:hover{
  background-color: black;
  color:white

}

.bodybtn button{
  background-color: white;
  color:black;
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  font-weight: 300;
  text-transform: uppercase;
  display: inline-block;
  width: 600px;
  border: 2px solid black;

}

#top-nav {
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    height: 50px;
    width: auto;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(255, 166, 249);
}

.left {
    float: left;
    margin-left: 300px;
}

.right {
    float: right;
    margin-right: 300px;
}

.top-menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
}

.top-menu a:hover {
    background-color: rgb(205, 166, 255);
}
