<html>
    <link rel="stylesheet" type="text/css" href="css/infoAndHome.css">
    <header>
        <div class="top-nav">
          <div class='top-menu left'><a href='/play'>Play</a></div>
          <div class='top-menu right'><a href='/learn'>Learn</a></div>
         </div>
    </header>
    <body>
    <br><br><br><br><br>
        <h1>Welcome To _Insert Name Here_</h1>
        <div class="bodybtn">
            <form action='learn' method= "get" >
                <button type = "submit">Learn About Finance!</button>
            </form>
            <form action='play' method= "get">

                <button type = "submit">Play!</button>

             </form>
         </div>
    </body>
</html>
