<html>
    <link rel="stylesheet" type="text/css" href="css/infoAndHome.css">
    <header>
        <div class="headerbtn">
            <form action='learn' method= "get">
                <div class = "right" >
                    <button type = "submit">Learn About Finance!</button>
                </div>
            </form>
            <form action='play' method= "get">
                <div class = "left"  class="btn">
                    <button type = "submit">Play!</button>
                </div>
             </form>
         </div>
    </header>
    <body>
    <br><br><br><br><br>
        <h1>Welcome To _Insert Name Here_</h1>
        <div class="bodybtn">
            <form action='learn' method= "get" >
                <button type = "submit">Learn About Finance!</button>
            </form>
            <form action='play' method= "get">

                <button type = "submit">Play!</button>

             </form>
         </div>
    </body>
</html>