<html>
<header>
    <form action='learn' method= "get">
        <button type = "submit">Learn About Finance!</button>
    </form>
    <form action='play' method= "get">
        <button type = "submit">Play!</button>
     </form>
</header>
<body>
    <h1>Welcome To </h1>
    </ul>
</body>
</html>