<html>
    <link rel="stylesheet" type="text/css" href="css/infoAndHome.css">
    <header>
        <div class="top-nav">
          <div class='top-menu left'><a href='/play'>Play</a></div>
          <div class='top-menu right'><a href=''>Home</a></div>
         </div>
    </header>
<br><br><br><br>
    <body>
        <ul>
            {{#each fact}}
                <li><h2>{{@key}}</h2> <p>{{this}}</p> </li><br>
            {{/each}}
        </ul>
    </body>
<html>
