<html>
  <head>
    <link rel="stylesheet" type="text/css" href="css/infoAndHome.css">
  <head>
  <header>
      <div class="top-nav">
        <div class='top-menu left'><a href='/play'>Play</a></div>
        <div class='top-menu right'><a href='/learn'>Learn</a></div>
       </div>
  </header>
  <body>
    <h2 id="introTitle">About the Game</h2>
    <p class="info">Carmen Sandiego, World Famous Thief, is planning a new bank heist.</p><br>
    <p class="info">In order to complete this heist, she needs to pose as a worker inside the bank.
      She hoped to sneak past without suspicious, but her disguise has worked too well!
      People are coming up to her with questions about their finances. Help Carmen answer
      their questions and get passed them to the vaults in the back.</p><br>
    <h2 id="introTitle">Instructions</h2>
    <p class="info">Try to make it past the people in the bank by moving whenever they aren't in your way.
      If you run into someone, you will need to answer their question before you can move on.
      If you don't answer correctly, you will be sent back to the beginning to try again.</p></br>
    <div id="buttonStart">
      <p><a href="/level1">Start</a></p>
    </div>
  <body>
