<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<link rel="stylesheet" type"text/css" href = "css/game.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
<script src="js/level1.js"></script>
</head>
<body onload="startGame()">
<br>
<div id="button">
  <button id="Go">Go</button>
  <div id="Question">
  </div>
</div>
</body>
</html>
