<html>
<head>
    <link rel="stylesheet" type="text/css" href="css/madLibs.css"/>
    <link rel="stylesheet" type"text/css" href = "css/navbar.css">
</head>
<body>
    <div id="top-nav"></div>
    <script>
        var favColor = "{{questions}}";
    </script>
    <div class='contents'>

    </div>
    <script type= "text/javascript" src="js/madLibs.js"></script>
    <script src="js/navBar.js"></script>
</body>
</html>
